# 说明 #

以下结果受限于创始者的测试条件，并不全面，仅供参考。希望能得到开发者的不断反馈从而完善它.


# 测试结果（部分） #

| **序号** | **java版本** | **操作系统** | **运行情况** |
|:-------|:-----------|:---------|:---------|
| 1      | jdk-1\_5\_0\_19-windows-i586-p | windows xp | OK       |
| 2      | jre-1\_5\_0\_20-windows-i586-p | windows xp/windows 7 | OK       |
| 3      | jdk-6-windows-i586 | windows xp/windows 7 | OK       |
| 4      | jre-6u1-windows-i586-p | windows xp/windows 7 | OK       |
| 5      | jdk-6u10-windows-i586 | windows xp/windows 7 | OK       |
| 6      | jdk-6u11-windows-i586 | windows xp/windows 7 | OK       |
| 7      | jdk-6u12-windows-i586 | windows xp/windows 7 | OK       |
| 8      | jdk-6u13-windows-i586 | windows xp/windows 7 | OK       |
| 9      | jdk-6u14-windows-i586 | windows xp/windows 7 | OK       |
| 10     | jre-6u18-windows-i586 | windows xp/2003 | OK       |
| 11     | jre-6u20-windows-i586 | windows xp/2003 | OK       |
| 12     | jre-6u21-windows-i586 | windows xp/2003/windows 7 | OK       |
| 13     | jdk-6u34-windows-i586 | windows xp | OK       |
| 14     | jdk-6u31-linux-x64 | Redhat EL 5.4  | -        |
| 15     | jre-6u31-windows-i586 | windows 7 | OK       |
| 16     | jdk-7u1-windows-i586 | windows xp/windows 7 | OK       |
| 17     | jdk-7u6-windows-i586 | windows xp/windows 7 | OK       |

